@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.themed_content {
  @apply bg-white dark:bg-black text-black dark:text-white
}

.section_container {
  @apply max-w-md sm:max-w-lg md:max-w-2xl lg:max-w-4xl xl:max-w-6xl py-10 mx-auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
